/**
 * @Author: Edmund Lam <edl>
 * @Date:   16:41:55, 13-Feb-2018
 * @Filename: life.css
 * @Last modified by:   edl
 * @Last modified time: 20:42:10, 26-Feb-2018
 */


@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
  background-color: #8E8E8D;
}
body {
	height: 100%;
	margin: 0;
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comm td {
	font-size: 10px;
}

.yellow {
	color: #FFDF3F;
}

td,input,button,p {
  color: #F6F5F2;
  text-align: center;
  background-color: #5D5D5B;
  font-family: "Courier New", Courier, monospace;
  font-size:14px;
  color: #F6F5F2;
  border-width: 3px;
  border-style: solid;
  border-color: #302F2E;
  border-radius: 5px;
}

.cellDisp {
	display:inline-block;
	width:49.8%;
}

table {
	width:100%;
}

table td + td {
  border-left: 3px solid #302F2E;
}
